body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  max-width: 150px;
  height: auto;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item i {
  font-size: 20px;
  color: #054a85;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-weight: bold;
}

.contact-detail {
  color: #333;
}

.contact-item:not(:last-child)::after {
  content: "|";
  color: #054a85;
  margin-left: 15px;
}

/* Hero Section */
.hero {
  background-color: #054a85;
  color: #fff;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.hero-text {
  flex: 1;
  width: 60%;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#moreInfoBtn {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
  display: inline-flex;
  align-items: center;
}

#moreInfoBtn:hover {
  background-color: #e62e2e;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#moreInfoBtn:active {
  background-color: #cc2929;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#moreInfoBtn i {
  margin-left: 10px;
}

.hero-image {
  flex: 1;
  position: relative;
  top: 3.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.hero-image img {
  width: 80%;
  object-fit: contain;
}

/* Pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  animation: slideIn 0.5s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  width: 100%;
}

/* Manfaat section */
.benefits-section {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.benefits-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.benefits-section h2 {
  font-size: 32px;
  color: #054a85;
  margin-bottom: 10px;
}

.benefits-section .sub-heading {
  font-size: 18px;
  color: #555;
  margin-bottom: 2rem;
}

.sub-heading {
  text-align: center;
}

.benefit-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.benefit-card-wrapper {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.benefit-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-card i {
  font-size: 60px;
  color: #ff3333;
  margin-bottom: 10px;
}

.benefit-content {
  margin-top: 10px;
}

.benefit-card h3 {
  font-size: 20px;
  color: #054a85;
  margin-bottom: 10px;
}

.benefit-card p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.benefit-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Struktur section */
.test-structure {
  padding: 60px 0;
}

.test-structure .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.test-structure .container .sub-heading {
  margin-bottom: 3rem;
}

.test-structure h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #054a85;
}

.test-structure .test-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.test-structure img {
  width: 45%;
  object-fit: cover;
  border-radius: 8px;
}

.test-structure .test-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.test-structure .test-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.test-structure .test-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.test-structure .test-info p {
  font-size: 1.2rem;
  color: #666;
  width: 100%;
}

.test-structure .test-info .info-content-2 {
  text-align: end;
}

/* Intergritas section */
.test-integrity {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 90%;
}

.test-integrity h2 {
  color: #054a85;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8em;
}

.test-integrity .sub-heading {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.info-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-list li {
  background-color: #ff3333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.info-list li i {
  margin-right: 10px;
  font-size: 1.2em;
}

/* Perelngkapan section */
.requirements {
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.requirements h2 {
  color: #054a85;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.requirements .sub-heading {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.requirements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.requirement-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requirement-card i {
  color: #054a85;
  font-size: 2em;
  margin-bottom: 10px;
}

.requirement-card h3 {
  color: #054a85;
  margin-bottom: 10px;
}

.requirement-card p {
  color: #333;
}

.disclaimer-section {
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.disclaimer-section h2 {
  color: #054a85;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.disclaimer-section .sub-heading {
  color: #333;
  margin-bottom: 30px;
  font-size: 1.1em;
}

.disclaimer-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.disclaimer-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.disclaimer-icon {
  font-size: 2.5em;
  color: #054a85;
  margin-right: 20px;
}

.disclaimer-content h3 {
  color: #054a85;
  margin-bottom: 5px;
}

.disclaimer-content p {
  color: #333;
}

/* Petunjuk section */
.registration {
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration h2 {
  color: #054a85;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.registration .sub-heading {
  color: #666;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  background-color: #ff4b4b;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 10px 0;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.info-list i {
  font-size: 1.8em;
  margin-right: 15px;
}

.info-list li:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

/* Daftar section */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-wrapp {
  background: linear-gradient(to right, #054a85, #007bff);
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  position: relative;
  overflow: hidden;
  width: 90%;
}

.sign-wrapp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  opacity: 0.2;
}

.sign-wrapp p {
  font-size: 1.5em;
  margin: 0 0 20px;
  position: relative;
  z-index: 2;
}

.sign-wrapp button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  z-index: 2;
}

.sign-wrapp button a {
  text-decoration: none;
  color: #fff;
}
.sign-wrapp button:hover {
  background-color: #054a85;
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-info {
  margin-bottom: 10px;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social i {
  font-size: 20px;
}

.footer-social a:hover {
  color: #ff3333;
}

.mobile-menu-button {
  display: none;
}

/* Responsif untuk perangkat mobile (max-width: 600px) */
@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-image img {
    width: 100%;
    top: 0;
  }

  .benefit-cards {
    flex-direction: column;
    align-items: center;
  }

  .benefit-card-wrapper {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .test-structure img {
    width: 100%;
  }

  .test-structure .test-info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .test-structure .test-info {
    flex-direction: column;
    align-items: center;
  }

  .requirements-cards {
    flex-direction: column;
    align-items: center;
  }

  .requirement-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .disclaimer-cards {
    grid-template-columns: 1fr;
  }

  .disclaimer-card {
    width: 100%;
  }

  .registration {
    padding: 20px;
  }

  .info-list li {
    flex-direction: column;
    text-align: center;
  }

  body {
    font-size: 14px;
  }

  .header-content .contact-info {
    font-size: 14px;
  }

  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 1em;
  }

  #moreInfoBtn {
    font-size: 14px;
  }

  .benefits-section h2 {
    font-size: 24px;
  }

  .benefits-section .benefit-card h3 {
    font-size: 16px;
  }

  .benefits-section .benefit-card p {
    font-size: 14px;
  }

  .test-structure h2 {
    font-size: 24px;
  }

  .test-structure .test-info h3 {
    font-size: 1.4rem;
  }

  .test-structure .test-info p {
    font-size: 0.9rem;
  }

  .test-integrity h2 {
    font-size: 1.4em;
  }

  .test-integrity p {
    font-size: 1em;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }
}

/* Responsif untuk tablet (max-width: 768px) */
@media (max-width: 768px) {
  header {
    padding: 10px 15px;
  }

  .contact-info {
    display: none;
  }

  .mobile-menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: #054a85;
  }

  .mobile-menu {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    width: 70%;
    text-align: center;
    z-index: 1000;
    margin: 0 auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
  }

  .mobile-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .mobile-menu .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .mobile-menu .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-menu .contact-item i {
    font-size: 20px;
    color: #054a85;
  }

  .mobile-menu .contact-item:not(:last-child)::after {
    content: none;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-image img {
    width: 100%;
  }

  .benefit-cards {
    flex-direction: column;
    align-items: center;
  }

  .benefit-card-wrapper {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .test-structure .test-info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .test-info-wrapper {
    gap: 1em;
  }

  .test-info:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .requirements-cards {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .requirement-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .disclaimer-cards {
    grid-template-columns: 1fr;
  }

  .disclaimer-card {
    width: 90%;
  }

  .header-content .contact-info {
    font-size: 15px;
  }

  .hero-text h1 {
    font-size: 2.2em;
  }

  .hero-text p {
    font-size: 1.1em;
  }

  #moreInfoBtn {
    font-size: 16px;
  }

  .benefits-section h2 {
    font-size: 28px;
  }

  .benefits-section .benefit-card h3 {
    font-size: 18px;
  }

  .benefits-section .benefit-card p {
    font-size: 14px;
  }

  .test-structure h2 {
    font-size: 28px;
  }

  .test-structure .test-info h3 {
    font-size: 1.6rem;
  }

  .test-structure .test-info p {
    font-size: 1rem;
  }

  .test-info {
    flex-direction: column;
    text-align: center;
  }

  .test-info .info-content-2 {
    text-align: center;
  }

  .test-info img {
    margin-top: 20px;
  }

  .requirement-card {
    width: 90%;
  }

  .test-integrity h2 {
    font-size: 1.6em;
  }

  .test-integrity p {
    font-size: 1.1em;
  }

  footer h3 {
    font-size: 20px;
  }

  footer p {
    font-size: 15px;
  }
}

/* Responsif untuk layar besar (min-width: 1024px) */
@media (min-width: 1024px) {
  .mobile-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .hero-content {
    gap: 40px;
  }

  .benefit-cards {
    justify-content: space-between;
  }

  .test-structure .test-info-wrapper {
    gap: 5rem;
  }

  .hero-text h1 {
    font-size: 2.5em;
  }

  .hero-text p {
    font-size: 1.2em;
  }

  #moreInfoBtn {
    font-size: 18px;
  }

  .benefits-section h2 {
    font-size: 32px;
  }

  .benefits-section .benefit-card h3 {
    font-size: 20px;
  }

  .benefits-section .benefit-card p {
    font-size: 16px;
  }

  .test-structure h2 {
    font-size: 32px;
  }

  .test-structure .test-info h3 {
    font-size: 1.8rem;
  }

  .test-structure .test-info p {
    font-size: 1.2rem;
  }

  .test-integrity h2 {
    font-size: 1.8em;
  }

  .test-integrity p {
    font-size: 1.2em;
  }

  footer h3 {
    font-size: 24px;
  }

  footer p {
    font-size: 16px;
  }
}
